<!DOCTYPE html>
<html>
<head>
    <title>Fishermen Financial Information</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-4xl">
        <h2 class="text-2xl font-bold mb-6 text-center">Fishermen Financial Information</h2>
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-gray-300">Fisherman</th>
                    <th class="py-2 px-4 border-b border-gray-300">Advance</th>
                    <th class="py-2 px-4 border-b border-gray-300">Income This Week</th>
                </tr>
            </thead>
            <tbody>

                {% for fisherman in fishermans %}

                <tr>
                    <td class="py-2 px-4 border-b border-gray-300">  <a href="{% url "fisherManID" fisherman.id %}"> {{fisherman.fName}} {{fisherman.lName}} </a>  </td>
                    <td class="py-2 px-4 border-b border-gray-300 text-red-500">₹ {{ fisherman.advance }}</td>
                    <td class="py-2 px-4 border-b border-gray-300 text-green-500">₹ {{ fisherman.income }}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>
